@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: #2c3e50;font-family: "Lora", serif;
}
.titulo{
    color: #f8f9fa;
}
.dias{
    color: #f1c40f;
}
.semana{
    color: #f8f9fa;
}
.borda{
    border-style:groove;
    border-color: black;
    background-color: #f1c40f;
}
.curso{
    color: #e74c3c;
}